.mainHeader {
    background-color: rgba(72, 72, 72, 0.8);
    padding: 1rem 0;
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.mainTitle {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 0.5rem 1rem;
    margin: 0;
    font-family: 'MeinEigenesFont', sans-serif;

}

.headerImage {
    width: 350px;
    height: auto;
    margin-right: 20px;
}

.madeByText {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
}

@font-face {
    font-family: 'MeinEigenesFont';
    src: url('src/assets/HotsnowFreeVertionRegular-mLO6P.ttf') format('truetype');

}
